# Node.js関連のファイル
node_modules
npm-debug.log
yarn-error.log

# ログファイル
*.log

# 環境変数ファイル
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# ビルド出力
.next
out

# Docker関連のファイル
Dockerfile
.dockerignore

# Git関連のファイル
.git
.gitignore

# Terraform関連のファイル
terraform
*.tfstate
*.tfstate.backup
.terraform
.terraform.lock.hcl

# その他の不要なファイル
.DS_Store
.vscode
.idea
*.swp